<h1>Welcome to the Admin Dashboard</h1>
<!-- <%= link_to 'Logout', admin_logout_path, method: :delete %> -->
<%= link_to 'Logout', admin_logout_path, method: :delete, data: { turbo_method: :delete } %>
