<h1>All Products</h1>

<div class="products">
  <% @products.each do |product| %>
    <div class="product">
      <h3><%= link_to product.product_name, product_path(product) %></h3>
      <p><%= product.description.truncate(100) %></p>
      <p><%= number_to_currency(product.price) %></p>
    </div>
  <% end %>
</div>